
@mixin header__box($color) {
    background-color: $color;
    width: 40px;
    height: 40px;
}

@mixin main__box($color) {
    box-sizing: border-box;
    border: 5px solid #fff;
    background-color: $color;
    height: 40px;
    width: 140px;
}

